/* CSS Document */
*{
	padding: 0;
	margin:0;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-weight: 100;
	
}

body{
	background-color: #FDF5F5;
}

header{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #FBDADB;
	justify-content: space-around;
	align-items: center;

	
}

.nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:40%;
	justify-content: flex-end;
		
	
}

.main-container{
	display:flex;
	flex-direction: column;
	align-content:center;
	flex-wrap: wrap;
	margin:10px;
	padding:10px;
	
}
.list-container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid black;
}
.list-element{
	list-style-position: inside;
	color:#E43235;
	border:1px solid black;
	flex-basis: 30%;

}
.title{
	color:#E43235;
}

.btn{
	background-color:#E43235;
	text-decoration: none;
	color:#F7CECF;
	text-align: center;
	margin:10px;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 2px 2px 3px black;
	flex-basis: 5%;
	flex-grow:1;
	
}
